{{define "exchanges alphapoint" -}}
{{template "header" .}}
## Alphapoint Exchange

+ Please visit [Alphapoint](https://www.alphapoint.com/) for more info.

### How to enable

+ Not currently configurable

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
