{{define "exchanges bank" -}}
{{template "header" .}}
## Bank

### Current Features

+ Provides a transfer type for different bank transfers.
+ Provides methods on the type for validation and to implement the stringer interface.


## Transfer Types
### Via gRPC when setting a new bank transfer these integers refer to the bank transfer types:

|Bank Transfer Name|Integer|Notes|
|-------|------|------|
| "NotApplicable" | 1 | --- |
| "WireTransfer" | 2 | --- |
| "ExpressWireTransfer" | 3 | --- |
| "PerfectMoney" | 4 | --- |
| "Neteller" | 5 | --- |
| "AdvCash" | 6 | --- |
| "Payeer" | 7 | --- |
| "Skrill" | 8 | --- |
| "Simplex" | 9 | --- |
| "SEPA" | 10 | --- |
| "Swift" | 11 | --- |
| "RapidTransfer" | 12 | --- |
| "MisterTangoSEPA" | 13 | --- |
| "Qiwi" | 14 | --- |
| "VisaMastercard" | 15 | --- |
| "WebMoney" | 16 | --- |
| "Capitalist" | 17 | --- |
| "WesternUnion" | 18 | --- |
| "MoneyGram" | 19 | --- |
| "Contact" | 20 | --- |
| "PayID/Osko" | 21 | --- |
| "BankCard Visa" | 22 | --- |
| "BankCard Mastercard" | 23 | --- |
| "BankCard MIR" | 24 | --- |
| "CreditCard Mastercard" | 25 | --- |
| "Sofort" | 26 | --- |
| "P2P" | 27 | --- |
| "Etana" | 28 | --- |
| "FasterPaymentService(FPS)" | 29 | --- |
| "MobileMoney" | 30 | --- |
| "CashTransfer" | 31 | --- |
| "YandexMoney" | 32 | --- |
| "GEOPay" | 33 | --- |
| "SettlePay" | 34 | --- |
| "ExchangeFiatDWChannelSignetUSD" | 35 | --- |
| "ExchangeFiatDWChannelSignetUSD" | 36 | --- |
| "AutomaticClearingHouse" | 37 | --- |
| "FedWire" | 38 | --- |
| "TelegraphicTransfer" | 39 | --- |
| "SDDomesticCheque" | 40 | --- |
| "Xfers" | 41 | --- |
| "ExmoGiftCard" | 42 | --- |
| "Terminal" | 43 | --- |

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}