{{define "exchanges stats" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This stats package services the exchanges package by providing stats on
enabled exchanges i.e.
	- Sort by largest volume
	- Sort by best price for currency
	- Others will be added soon

{{template "donations" .}}
{{end}}
