{{define "exchanges fee" -}}
{{template "header" .}}
## Fee

### Current Features

+ Exchange fee definitions to provide individual accessibility to exchange scoped fee structure including:
    - Commission rates which include maker and taker.
    - Exchange deposit and withdrawal transfer fees to and from blockchains.
    - Exchange deposit and withdrawal banking transfer fees. 

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
