{{define "exchanges fee" -}}
{{template "header" .}}
## Fee

### Current Features

+ Manager provides tracking exchange fee definitions
+ Exchange fee defintions to provide individual accessibility to exchange scoped fee structure

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
