{{define "exchanges orders" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package services the exchanges package with order handling.
  - Creation of order
  - Deletion of order
  - Order tracking

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
