{{define "exchanges orders" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package services the exchanges package with order handling.
	- Creation of order
	- Deletion of order
	- Order tracking

+ For futures orders, this package also contains a futures position controller. It is responsible for tracking all futures orders, keeping a history of orders and tracking unrealised & realised PNL

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
