{{define "exchanges request" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package services the exchanges package with request handling.
	- Throttling of requests for an individual exchange

{{template "donations" .}}
{{end}}