
.BTC {
    color:orange;
}
.LTC {
    color:silver;
}
.ETH {
    color:darkslategrey;
}
// FAB
.mat-fab {
    top: auto;
    right: 30px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index:9;
}
mat-grid-list {
    height: 90vh;
  }

  mat-card {
      width:90%;
  }
  
  mat-grid-tile {
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.37);
  }