<div class="mat-row-container">
    <div class="mat-table">
      <div class="mat-header-row">
        <div class="mat-header-cell">Time</div>
        <div class="mat-header-cell">Price</div>
        <div class="mat-header-cell">Amount</div>
      </div>
      <div class="mat-row" *ngFor="let order of orders">
        <div class="mat-cell">{{order.time | date: 'HH:mm'}}</div>
        <div class="mat-cell">{{order.price}}</div>
        <div class="mat-cell">{{order.amount}}</div>
      </div>
    </div>
  </div>