{{define "common" -}}
{{template "header" .}}
## Current Features for {{.Name}}

#### This package collates basic broad functions that are used throughout this codebase.

+ Coding example

```go
import "github.com/thrasher-/gocryptotrader/common"

testString := "aAaAa"

upper := common.StringToUpper(testString)

// upper == "AAAAA"
```


### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
