{{define "testdata" -}}
{{template "header" .}}
## Current Features

This folder contains a configuration test file for non-deployement test params.
It also has the code coverage test files that allow us to monitor our entire
codebase, click this link for more information [https://codecov.io/](https://codecov.io/).
{{template "donations" .}}
{{- end}}
