{{define "events" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ The events package handles events from GoCryptoTrader bot.

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
