<h1>Dashboard</h1>
<span app-version></span>
<buy message="hi"></buy>
<div class="col-md-12">
	<div class="col-md-8">
		<div class="col-md-12">
			<!-- This is to get a sense of scale, I don't intend on any hardcoded heights!' -->
			<div class="col-md-6" style=" height: 300px;">
				<h3>Sell orders</h3>
			</div>
			<div class="col-md-6" style=" height: 300px;">
				<h3>Buy orders</h3>
			</div>
		</div>
		<div class="col-md-12" style=" height: 300px;">
			<h3>Market depth chart</h3>
		</div>
		<div class="col-md-4" style=" height: 300px;">
			<h4>Buy</h4>
		</div>
		<div class="col-md-4" style=" height: 300px;">
			<h4>Sell</h4>
		</div>
		<div class="col-md-4" style=" height: 300px;">
			<h4>Wallet quick look</h4>
			See current holding of selected currency
		</div>
		<div class="col-md-12">
			<div class="col-md-6" style=" height: 400px;">
				<h3>Trade History</h3>
			</div>
			<div class="col-md-6" style=" height: 400px;">
				<h3>My Open Orders</h3>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<h4>All enabled currencies</h4>
		<div ng-repeat="exchange in exchanges">
			<h5>{{exchange.exchangeName}}</h5>
			<table class="table table-striped">
				<tr>
					<th>Currency</th>
					<th>Last</th>
					<th>Volume</th>
				</tr>
				<tr ng-repeat="value in exchange.exchangeValues">
					<td>{{value.CryptoCurrency}}</td>
					<td>{{value.Last}}</td>
					<td>{{value.Volume}}</td>
				</tr>
			</table>
		</div>
	</div>
</div>