{{define "tools documentation" -}}
{{template "header" .}}
## Documentation Management Tool

### Current Features

+ Retrieves contribution activity via github API
+ Regenerates and updates documentation across the entire code base for each individual package
+ Allows for a documentation standard across this codebase

#### How to example

+ This will update the entire codebase when a change is made in the documentation templates

```sh
cd $GOPATH/src/github.com/thrasher-corp/gocryptotrader/tools/documentation/
go run gocryptotrader.go -r
```

{{template "donations" .}}
{{end}}
