{{define "tools huobiauth" -}}
{{template "header" .}}
## Huobi Authentication Management Tool

### Current Features

+ Generates a public and private key from a private key provided by Huobi for
API Authentication.
+ Move your file into the same folder as the Huobi auth tool

 Generate Keys:
 ```bash
cd $GOPATH/src/github.com/thrasher-corp/gocryptotrader/tools/huobi_auth/
go run main.go
 ```

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
