{{define "tools portfolio" -}}
{{template "header" .}}
## Portfolio Retrievement Tool

### Current Features

+ Fetches portfolio details

Example:
```bash
cd $GOPATH/src/github.com/thrasher-corp/gocryptotrader/tools/portfolio/
go run portfolio.go -infile path/to/config.json -key AESDecryptionKey
```

{{template "donations" .}}
{{end}}
