{{define "tools websocket" -}}
{{template "header" .}}
## Websocket Client Tool

### Current Features

+ Starts a websocket client

Example:
```bash
cd $GOPATH/src/github.com/thrasher-corp/gocryptotrader/tools/websocket_client/
go run main.go
```

{{template "donations" .}}
{{end}}
