    <form class="form-content">
        <div *ngIf="showErrorMessage">
<h4>{{chooseCurrencyMessage}}</h4>
<button  routerLink="/exchange-grid" mat-raised-button color="primary">Choose currency</button>
        </div>
        <div *ngIf="!showErrorMessage">
            <mat-form-field>
                    <input matInput disabled="disabled" name="exchange" [ngModel]="exchangeName" placeholder="Exchange">
                </mat-form-field>
            <mat-form-field>
                    <input matInput disabled="disabled" name="currency" [ngModel]="currencyName" placeholder="Currency">
                </mat-form-field>
                </div>
        <mat-form-field>
            <input matInput name="amount" placeholder="Amount">
        </mat-form-field>
        <mat-form-field>
            <input matInput name="offer" placeholder="Offer">
        </mat-form-field>
        <div mat-line></div>
    <div class="spacer">
            <button [disabled]="showErrorMessage" mat-raised-button color="primary">CONFIRM BUY</button>
            </div>
    </form>