{{define "currency pair" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ Provides a new data structure for a currency pair
+ Methods to manipulate, create and retrieve different parts of the currency pair

+ Example below:
```go
import "github.com/thrasher-corp/gocryptotrader/currency/pair"

// Create new pair
newPair := currency.NewPairFromStrings("BTC", "USD")

// Retrieve different parts of the pair
bitcoinString := newPair.GetFirstCurrency
```

{{template "donations" .}}
{{end}}
