{{define "currency" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ Currency package contains a full suite of packages that provide:
	- Foreign exchange data fetching for FIAT currencies
	- Currency Pair generation
	- Symbol mapping
	- Translation between currencies that have similar strings e.g. XBT, BTC

{{template "donations" .}}
{{end}}
