{{define "currency symbol" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package services the currency package by providing symbol mapping.

+ Example below:
```go
import "github.com/thrasher-corp/gocryptotrader/currency/symbol"

// Get the string of the symbol by the currency
chineseYen := "CNY"
symbol := symbol.GetSymbolByCurrencyName(chineseYen)

// symbol == "¥"
```

{{template "donations" .}}
{{end}}
