{{define "currency forexprovider" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ Currency Converter API support
+ Currency Layer support
+ Exchange Rates support
+ Fixer.io support
+ Open Exchange Rates support

{{template "donations" .}}
{{end}}
