{{define "currency forexprovider" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ Currency Converter API support
+ Currency Layer support
+ Fixer.io support
+ Open Exchange Rates support

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
