{{define "currency forexprovider base" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package enforces standard variables and methods for the foreign exchange
providers.

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
