{{define "currency forexprovider base" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package enforces standard variables and methods for the foreign exchange
providers.

{{template "donations" .}}
{{end}}
