{{define "currency forexprovider currencylayer" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ Fetches up to date currency data from [Currency Layer](https://currencylayer.com/)

### How to enable

+ [Enable via configuration](https://github.com/thrasher-corp/gocryptotrader/tree/master/config#enable-currency-via-config-example)

+ Individual package example below:
```go
import (
	"github.com/thrasher-corp/gocryptotrader/currency/forexprovider/base"
	"github.com/thrasher-corp/gocryptotrader/currency/forexprovider/currencylayer"
)

c := currencylayer.CurrencyLayer{}

// Define configuration
newSettings := base.Settings{
	Name:             "CurrencyLayer",
	Enabled:          true,
	Verbose:          false,
	RESTPollingDelay: time.Duration,
	APIKey:           "key",
	APIKeyLvl:        "keylvl",
	PrimaryProvider:  true,
}

c.Setup(newSettings)

mapstringfloat, err := c.GetRates("USD", "EUR,CHY")
// Handle error
```

{{template "donations" .}}
{{end}}
