<mat-list>
    <h3 matSubheader>Poloniex</h3>
    <mat-list-item >
       <mat-icon matListIcon>attach_money</mat-icon>
       <h4 matLine>BTC_USD</h4>
       <button mat-button>SELECT</button>
    </mat-list-item>
    <mat-list-item >
        <mat-icon matListIcon>attach_money</mat-icon>
        <h4 matLine>LTC_USD</h4>
        <button mat-button>SELECT</button>
     </mat-list-item>
     <mat-list-item >
        <mat-icon matListIcon>attach_money</mat-icon>
        <h4 matLine>ETH_USD</h4>
        <button mat-button>SELECT</button>
     </mat-list-item>
    <mat-divider></mat-divider>
    <h3 matSubheader>Kraken</h3>
    <mat-list-item >
       <mat-icon matListIcon>attach_money</mat-icon>
       <h4 matLine>BTC_USD</h4>
       <button mat-button>SELECT</button>
    </mat-list-item>
    <mat-list-item >
        <mat-icon matListIcon>attach_money</mat-icon>
        <h4 matLine>LTC_USD</h4>
        <button mat-button>SELECT</button>
     </mat-list-item>
     <mat-list-item >
        <mat-icon matListIcon>attach_money</mat-icon>
        <h4 matLine>ETH_USD</h4>
        <button mat-button>SELECT</button>
     </mat-list-item>
 </mat-list>