<h2>Currency List</h2>
<h3>Select and monitor currencies of the same type</h3>
<mat-accordion>
        <mat-expansion-panel  *ngFor="let currency of exchangeCurrencies | iterateMap">
            <mat-expansion-panel-header [ngClass]="{'selected' : selectedCurrency == currency.value}" >
                <mat-panel-title>
                        {{currency.value}}
                </mat-panel-title>
                <mat-panel-description>
                </mat-panel-description>
            </mat-expansion-panel-header>
            image and blurb
            <div>
            <i>Only displaying enabled currencies</i>
        </div>
            <form class="form-content">
                <mat-list>
                    <mat-list-item [ngClass]="{'selected' : (selectedExchange == exchange && selectedCurrency == currency.value)}" *ngFor="let exchange of currency.key" >
                       <h4 matLine>{{exchange}}</h4>
                       <button mat-button  (click)="selectCurrency(exchange, currency.value)">SELECT</button>
                    </mat-list-item>
                    </mat-list>
            </form>
        </mat-expansion-panel>
    </mat-accordion>