<!-- TODO: figure out if the <nav> should go inside of a <header> element. -->
<nav class="docs-navbar">
    <mat-toolbar color="primary">
        <a (click)="sidebarService.toggle()" class="material-icons">&#xE5D2;</a>
        <a mat-button class="docs-button" style="width:1rem;" routerLink="/" aria-label="Angular Material">
            <span><img style="width:100%; vertical-align:middle;" src="assets/images/gctlogo-small-cutoutt.png" /></span>
        </a>
        <app-selected-currency></app-selected-currency>
        <div class="flex-spacer"></div>
        <app-theme-picker></app-theme-picker>
        &nbsp; &nbsp;
    </mat-toolbar>
</nav>