{{define "tools exchange" -}}
{{template "header" .}}
## Exchange Template Management Tool

### Current Features

+ Generates a basic template for incorporating a new exchange in the codebase

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
