{{define "tools huobiauth" -}}
{{template "header" .}}
## Huobi Authentication Management Tool

### Current Features

+ needs updating

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
