{{- if eq $.S.Channel "feature1" -}}
  {{/* Case 1: One channel to rule them all */}}
  feature1
{{- else if eq $.S.Channel "feature2" -}}
  {{/* Case 2: One channel per asset */}}
  {{- range $asset, $pairs := $.AssetPairs }}
    {{ assetName $asset }}-feature2@ {{- $.S.Interval.Short }}
    {{- $.AssetSeparator }}
  {{- end }}
{{- else if eq $.S.Channel "feature3" }}
  {{/* Case 3: One channel per pair per asset */}}
  {{- range $asset, $pairs := $.AssetPairs }}
    {{- range $pair := $pairs -}}
      {{ assetName $asset }}-{{ $pair.Swap.String -}} -feature3@ {{- $.S.Levels }}
      {{- $.PairSeparator -}}
    {{- end -}}
    {{- $.AssetSeparator -}}
  {{- end -}}
{{- else if eq $.S.Channel "feature4" }}
  feature4-authed
{{- end -}}
