<h2>Settings</h2>
<div class="col-md-12">
    <div class="col-md-10 container " > 
        <h4>Exchange config</h4>
        <div ng-repeat="exchange in config.Exchanges">
            <div class="row">
                <h3>{{exchange.Name}}</h3>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="input-form">Enabled:</label>
                </div>
                    <div class="col-md-10">
                        <input type="checkbox" class="input-form" ng-model="exchange.Enabled"/>
                    </div>
            </div>
            <div  ng-show="exchange.Enabled">
                <div class="row">
                    <div class="col-md-2">
                        <label class="input-form">API Key:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="input-form" ng-model="exchange.APIKey"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="input-form">API Secret:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="input-form" ng-model="exchange.APISecret"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="input-form">Client ID:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="input-form" ng-model="exchange.ClientID"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label class="input-form">Currencies to check:</label>
                    </div>
                    <div class="col-md-10">
                        <div class="col-md-2" ng-repeat="availableCurrency in exchange.AvailablePairsSplit">
                                <div class="col-md-8">{{availableCurrency}}</div>
                                <div class="col-md-4"><input type="checkbox" class="input-form"  ng-click="toggleCurrencyToEnabledCurrencies(availableCurrency, exchange)" ng-checked="exchange.EnabledPairsSplit.indexOf(availableCurrency) > -1"/></div>
                        </div>
                    </div>
                </div>
                <button class="btn btn-success btn-lg" ng-click="saveAllSettings()">Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <button class="btn btn-success btn-lg" style="float:right;position:fixed;top:120px;right:60px;" ng-click="saveAllSettings()">Save</button>
    </div>
</div>