{{define "base"}}
<!DOCTYPE HTML>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <title>{{template "title" .}} - Charts</title>
             <script src="https://unpkg.com/lightweight-charts@3.1.5/dist/lightweight-charts.standalone.production.js"></script>
    </head>
    <body>
            {{template "content" .}}
    </body>
</html>
{{end}}