{{template "base" .}}
{{define "title"}}Timeseries Chart{{end}}
{{define "content"}}
<script>
   let chart = LightweightCharts.createChart(document.body, {
    width: 1920,
    height: 1080,
   	layout: {
   		backgroundColor: '#000000',
   		textColor: 'rgba(255, 255, 255, 0.9)',
   	},
   	grid: {
   		vertLines: {
        color: 'rgba(197, 203, 206, 0.5)',
   		},
   		horzLines: {
   			color: 'rgba(197, 203, 206, 0.5)',
   		},
   	},
   	crosshair: {
   		mode: LightweightCharts.CrosshairMode.Normal,
   	},
   	rightPriceScale: {
   		borderColor: 'rgba(197, 203, 206, 0.8)',
   	},
   	timeScale: {
   		borderColor: 'rgba(197, 203, 206, 0.8)',
   	},
   	watermark: {
        visible: true,
        fontSize: 24,
        horzAlign: 'center',
        vertAlign: 'center',
        color: 'rgba(171, 71, 188, 0.5)',
        text: 'GoCryptoTrader',
   },
   });

   let candleSeries = chart.addCandlestickSeries({
     upColor: 'rgba(255, 144, 0, 1)',
     downColor: '#000',
     borderDownColor: 'rgba(255, 144, 0, 1)',
     borderUpColor: 'rgba(255, 144, 0, 1)',
     wickDownColor: 'rgba(255, 144, 0, 1)',
     wickUpColor: 'rgba(255, 144, 0, 1)',
   });

   candleSeries.setData([
           {{range .Data }}
              { time:  '{{.Timestamp}}' , open: {{.Open}}, high: {{.High}} , low: {{.Low}} , close: {{.Close}}},
          {{end}}]
   )
        </script>

        <div id="container" style="width: 75%;">
        		<canvas id="volBar"></canvas>
        </div>
        <script>
        var ctx = document.getElementById('volBar').getContext('2d');
        var volBar = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
    datasets: [{
        barPercentage: 0.5,
        barThickness: 6,
        maxBarThickness: 8,
        minBarLength: 2,
        data: [10, 20, 30, 40, 50, 60, 70]
    }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        </script>
    </body>
{{end}}