

{{template "base" .}}
{{define "title"}}Chart{{end}}
{{define "content"}}
<script> var chart = LightweightCharts.createChart(document.body, {
   width: 1920,
   height: 1080,
   timeScale: {
   	timeVisible: true,
       borderColor: '#D1D4DC',
   },
   rightPriceScale: {
   	borderColor: '#D1D4DC',
   },
    layout: {
     backgroundColor: '#ffffff',
     textColor: '#000',
   },
   grid: {
     horzLines: {
       color: '#F0F3FA',
     },
     vertLines: {
       color: '#F0F3FA',
     },
   },
   watermark: {
    visible: true,
    fontSize: 24,
    horzAlign: 'center',
    vertAlign: 'center',
    color: 'rgba(0, 0, 0, 0.5)',
    text: 'GoCryptoTrader',
   },
   });
   
   
   let series = chart.addCandlestickSeries({
   upColor: 'rgb(38,166,154)',
   downColor: 'rgb(255,82,82)',
   wickUpColor: 'rgb(38,166,154)',
   wickDownColor: 'rgb(255,82,82)',
   borderVisible: false,
   });

   const data = [
        {{range .Data }}
           { time:  '{{.Timestamp}}' , open: {{.Open}}, high: {{.High}} , low: {{.Low}} , close: {{.Close}}},
       {{end}}]
   series.setData(data);
   
   const datesForMarkers = [data[data.length - 19], data[data.length - 39]];
   let indexOfMinPrice = 0;
   for (var i = 1; i < datesForMarkers.length; i++) {
    if (datesForMarkers[i].high < datesForMarkers[indexOfMinPrice].high) {
        indexOfMinPrice = i;
    }
   }
   let markers = [];
   for (var i = 0; i < datesForMarkers.length; i++) {
    if (i !== indexOfMinPrice) {
        markers.push({ time: datesForMarkers[i].time, position: 'aboveBar', color: '#e91e63', shape: 'arrowDown', text: 'Sell @ ' + Math.floor(datesForMarkers[i].high + 2) });
    } else {
        markers.push({ time: datesForMarkers[i].time, position: 'belowBar', color: '#2196F3', shape: 'arrowUp', text: 'Buy @ ' + Math.floor(datesForMarkers[i].low - 2) });
    }
   }
   markers.push({ time: data[data.length - 48].time, position: 'aboveBar', color: '#f68410', shape: 'circle', text: 'D' });
   series.setMarkers(markers);
</script>
{{end}}

