<mat-card class="full-card">
    <mat-card-header>
        <mat-card-title>Donations</mat-card-title>
        <mat-card-subtitle>We give our thanks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <img class="heart" src="./assets/images/donate.png" />
        <p>If this framework helped you in any way, or you would like to support the developers working on it, please donate</p>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon class="BTC">attach_money</mat-icon>
                <h4 mat-line>Address:</h4>
                <h4 mat-line>bc1qk0jareu4jytc0cfrhr5wgshsq8282awpavfahc</h4>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>