{{define "communications base" -}}
{{template "header" .}}
## Base Communications package

### Current Features

+ Used to enforce standard variables and methods across the communication packages

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
