{{define "communications base" -}}
{{template "header" .}}
## Base Communications package

### Current Features

+ Used to enforce standard variables and methods across the communication packages

{{template "donations" .}}
{{end}}
