{{define "communications comms" -}}
{{template "header" .}}
## Communications package

### What is the Communications package?

+ This package allows for the communication of events/data that occurs in the
to be exported out to a defined communication medium

### Current Features

+ Slack bot support
+ SMSGlobal instant bulk messaging
+ SMTP messaging
+ Telegram bot support

### How to enable example

+ In your config.json enable each individual communications package you desire
+ Please view the individual readme documentation inside the specific package
for more details

{{template "donations" .}}
{{end}}
