{{define "communications slack" -}}
{{template "header" .}}
## Slack Communications package

### What is Slack?

+ Slack is a code-centric collaboration hub that allows users to connect via an
app and share different types of data
+ Please visit: [Slack](https://slack.com/) for more information and account setup

### Current Features

+ Basic communication to your slack channel information includes:
	- Working status of bot

### How to enable

+ [Enable via configuration](https://github.com/thrasher-corp/gocryptotrader/tree/master/config#enable-communications-via-config-example)

+ Individual package example below:
```go
import (
"github.com/thrasher-corp/gocryptotrader/communications/slack"
"github.com/thrasher-corp/gocryptotrader/config"
)

s := new(slack.Slack)

// Define slack configuration
commsConfig := config.CommunicationsConfig{SlackConfig: config.SlackConfig{
	Name:              "Slack",
	Enabled:           true,
	Verbose:           false,
	TargetChannel:     "targetChan",
	VerificationToken: "slackGeneratedToken",
}}

s.Setup(commsConfig)
err := s.Connect
// Handle error
```

Once the bot has started you can interact with the bot using these commands
via Slack:

```
!status 		- Displays current working status of bot
!help 			- Displays help text
!settings		- Displays current settings
```

{{template "donations" .}}
{{end}}
