{{define "communications telegram" -}}
{{template "header" .}}
## Telegram Communications package

### What is telegram?

+ Telegram is a cloud-based instant messaging and voice over IP service
developed by Telegram Messenger LLP
+ Please visit: [Telegram](https://telegram.org/) for more information

### Current Features

+ Creation of bot that can retrieve
	- Bot status

	### How to enable

	+ [Enable via configuration](https://github.com/thrasher-corp/gocryptotrader/tree/master/config#enable-communications-via-config-example)

	+ See the individual package example below. NOTE: For privacy considerations, it's not possible to directly request a user's ID through the 
	Telegram Bot API unless the user interacts first. The user must message the bot directly. This allows the bot to identify and save the user's ID. 
	If this wasn't set initially, the user's ID will be stored by this package following a successful authentication when any supported command is issued.
	
	```go
	import (
		"github.com/thrasher-corp/gocryptotrader/communications/base"
		"github.com/thrasher-corp/gocryptotrader/communications/telegram"
	)

	t := new(telegram.Telegram)

	// Define Telegram configuration
	commsConfig := &base.CommunicationsConfig{
		TelegramConfig: base.TelegramConfig{
			Name:              "Telegram",
			Enabled:           true,
			Verbose:           false,
			VerificationToken: "token",
			AuthorisedClients: map[string]int64{"pepe": 0}, // 0 represents a placeholder for the user's ID, see note above for more info.
		},
	}

	t.Setup(commsConfig)
	err := t.Connect
	// Handle error
	```

+ Once the bot has started you can interact with the bot using these commands
via Telegram:

```
/start			- Will authenticate your ID
/status			- Displays the status of the bot
/help			- Displays current command list
```

{{template "donations" .}}
{{end}}
