{{define "communications telegram" -}}
{{template "header" .}}
## Telegram Communications package

### What is telegram?

+ Telegram is a cloud-based instant messaging and voice over IP service
developed by Telegram Messenger LLP
+ Please visit: [Telegram](https://telegram.org/) for more information

### Current Features

+ Creation of bot that can retrieve
	- Bot status

	### How to enable

	+ [Enable via configuration](https://github.com/thrasher-corp/gocryptotrader/tree/master/config#enable-communications-via-config-example)

	+ Individual package example below:
	```go
	import (
	"github.com/thrasher-corp/gocryptotrader/communications/telegram"
	"github.com/thrasher-corp/gocryptotrader/config"
	)

	t := new(telegram.Telegram)

	// Define Telegram configuration
	commsConfig := config.CommunicationsConfig{TelegramConfig: config.TelegramConfig{
	Name: "Telegram",
		Enabled: true,
		Verbose: false,
	VerificationToken: "token",
	}}

	t.Setup(commsConfig)
	err := t.Connect
	// Handle error
	```

+ Once the bot has started you can interact with the bot using these commands
via Telegram:

```
/start			- Will authenticate your ID
/status			- Displays the status of the bot
/help			- Displays current command list
/settings		- Displays current bot settings
```

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
