{{define "rest"}}
package {{.Name}}

import (
	exchange "github.com/thrasher-corp/gocryptotrader/exchanges"
)

// Exchange implements exchange.IBotExchange and contains additional specific api methods for interacting with {{.CapitalName}}
type Exchange struct {
	exchange.Base
}

const (
	{{.Name}}APIURL = ""
	{{.Name}}APIVersion = ""

	// Public endpoints

	// Authenticated endpoints
)

// Start implementing public and private exchange API funcs below

{{end}}
