{{define "test"}}
package {{.Name}}

import (
	"log"
	"os"
	"testing"

	testexch "github.com/thrasher-corp/gocryptotrader/internal/testing/exchange"
)

// Please supply your own keys here to do authenticated endpoint testing
const (
	apiKey                    = ""
	apiSecret                 = ""
	canManipulateRealOrders   = false
)

var {{.Variable}} *Exchange

func TestMain(m *testing.M) {
	{{.Variable}} = new(Exchange)
	if err := testexch.Setup({{.Variable}}); err != nil {
		log.Fatal(err)
	}

	if apiKey != "" && apiSecret != "" {
		{{.Variable}}.API.AuthenticatedSupport = true
		{{ if .WS }} {{.Variable}}.API.AuthenticatedWebsocketSupport = true {{ end }}
		{{.Variable}}.SetCredentials(apiKey, apiSecret, "", "", "", "")
		{{ if .WS }} {{.Variable}}.Websocket.SetCanUseAuthenticatedEndpoints(true) {{ end }}
	}

	os.Exit(m.Run())
}


// Implement tests for API endpoints below
{{end}}
