{{define "exchange quickspy" -}}
{{template "header" .}}
## Overview

The `quickspy` package provides a means to quickly request and receive data for an individual exchange, asset and currency pair. For the times you just really want to get some data without fussing about with configs - setting currency pairs or API keys - or `SetDefaults()` functions.

## Features

- Quickly creates an exchange with only the selected asset and currency pair enabled
- Supports a range of focus data types allowing for a more tailored approach to data retrieval
- Supports both REST and Websocket data retrieval methods
- Supports both public and authenticated data retrieval methods
- Three types of quickspy implementations:
  - `Quickspy` - supports multiple focus data types, has the finest level of control over data retrieval method and frequency
  - `QuickerSpy` - supports a single focus data type, prioritises websocket and allows for control over the quickspy instance
  - `QuickestSpy` - supports a single focus data type, prioritises websocket and returns a chan of data for the caller to consume


### Focus Data Types
| Type | Supports REST | Supports Websocket | Futures Only | Requires Authentication |
| ---- | ------------- | ------------------ | ------------ | ----------------------- |
| Orderbook | Yes | Yes | No | No |
| Ticker | Yes | Yes | No | No |
| Trades | Yes | Yes | No | No |
| Funding Rates | Yes | Yes | Yes | No |
| Klines | Yes | Yes | No | No |
| Account Info | Yes | Yes | No | Yes |
| Open Interest | Yes | Yes | Yes | No |
| Active Orders | Yes | Yes | No | Yes |
| Order Execution Limits | Yes | No | No | No |
| Contract Info | Yes | No | Yes | No |
| URL | Yes | No | No | No |

## Usage

There are multiple ways to utilise a quickspy. See `/cmd/quickspy` for a basic way of establishing a single purpose quickspy that subscribes to data and prints it to console.

### Quickspy with two focus types
```go
func main() {
	ctx, _ := signal.NotifyContext(context.Background(), syscall.SIGINT, syscall.SIGTERM)
	isOnceOff := false
	useWebsocket := true
	tickerFocusType := quickspy.NewFocusData(quickspy.TickerFocusType, isOnceOff, useWebsocket, time.Second)
	orderbookFocusType := quickspy.NewFocusData(quickspy.OrderBookFocusType, isOnceOff, useWebsocket, time.Second)
	focusTypes := []*quickspy.FocusData{tickerFocusType, orderbookFocusType}

	k := &quickspy.CredentialsKey{
		ExchangeAssetPair: key.NewExchangeAssetPair("Binance", asset.Spot, currency.NewBTCUSDT()),
	}

	qs, err := quickspy.NewQuickSpy(ctx, k, focusTypes)
	if err != nil {
		log.Fatalf("could not create quickspy instance: %v", err)
	}

	fmt.Println(<-tickerFocusType.Stream)
	fmt.Println(<-orderbookFocusType.Stream)

	qs.Shutdown()
}
```

### Quickerspy for account info focus type with credentials provided by context
```go
func main() {
	ctx := context.Background()
	credentials := &account.Credentials{
		Key:    "abc",
		Secret: "123",
	}
	ctx = account.DeployCredentialsToContext(ctx, credentials)
	k := key.NewExchangeAssetPair("Binance", asset.Spot, currency.NewBTCUSDT())

	qs, err := quickspy.NewQuickerSpy(ctx, &k, quickspy.AccountHoldingsFocusType)
	if err != nil {
		log.Fatalf("could not create quickspy instance: %v", err)
	}

	if err := qs.WaitForInitialData(ctx, quickspy.AccountHoldingsFocusType); err != nil {
		log.Fatalf("could not get initial data: %v", err)
	}
	data, err := qs.LatestData(quickspy.AccountHoldingsFocusType)
	if err != nil {
		log.Fatalf("could not get latest data: %v", err)
	}
	log.Printf("latest data: %+v", data)
}
```

### Quickestspy to stream ticker data as fast as possible
```go
func main() {
	ctx, _ := signal.NotifyContext(context.Background(), syscall.SIGINT, syscall.SIGTERM)
	k := key.NewExchangeAssetPair("Binance", asset.Spot, currency.NewBTCUSDT())
	qs, err := quickspy.NewQuickestSpy(ctx, &k, quickspy.TickerFocusType)
	if err != nil {
		log.Fatalf("could not create quickspy instance: %v", err)
	}
	parseData(ctx, qs)
}

func parseData(ctx context.Context, c <-chan any) {
	for {
		select {
		case <-ctx.Done():
			return
		case data := <-c:
			log.Printf("%+v", data)
		}
	}
}
```




{{template "donations" .}}
{{end}}
