{{define "engine datahistory" -}}
{{template "header" .}}
## Current Features for {{.CapitalName}}
+ The data history manager is responsible for ensuring that the candle/trade history in the range you define is synchronised to your database
+ It is a long running synchronisation task designed to not overwhelm resources and ensure that all data requested is accounted for and saved to the database
+ The data history manager is disabled by default and requires a database connection to function
+ The data history manager accepts jobs from RPC commands
  + A job is defined in the `jobs` table below
  + Jobs will be address by the data history manager at an interval defined in your config, this is detailed below in the `Application run time parameters` table below
  + Jobs will fetch data at sizes you request (which can cater to hardware limitations such as low RAM)
  + Jobs are completed once all data has been fetched/attempted to be fetched in the time range


### Application run time parameters

| Config | Description | Example |
| ------ | ----------- | ------- |
| enabled | If enabled will create a REST server which will listen to commands on the listen address | `true` |
| checkInterval | A golang time.Duration interval of when to attempt to fetch job data | `15000000000` |


### Database tables
#### jobs

| Field | Description | Example |
| ------ | ----------- | ------- |
| ID | Unique ID of the job. Generated at creation | `deadbeef-dead-beef-dead-beef13371337` |
| Nickname | A custom name for the job that is unique for lookups | `binance-xrp-doge-2017` |
| Exchange | The exchange to fetch data from | `binance` |
| Asset | The asset type of the data to be fetching | `spot` |
| Pair | The currency pair of the data to be fetching | `xrp-doge` |
| StartDate | When to begin fetching data | `01-01-2017` |
| EndDate | When to finish fetching data. If `-` the data history manager will continuously fetch data | `31-12-2017` |
| DataType | The data type to fetch. Can be `candle` or `trade` | `candle` |
| RequestSizeLimit | The number of candles to fetch. eg if `500`, the data history manager will break up the request into the appropriate timeframe to ensure the data history run interval will fetch 500 candles to save to the database | `500` |
| Interval | The candle size | `1d` |
| MaxRetryAttempts | For an interval period, the amount of attempts the data history manager is allowed to attempt to fetch data before moving onto the next period. This can be useful for determining whether the exchange is missing the data in that time period or, if just one failure of three, just means that the data history manager couldn't finish one request | `3` |
| Status | Can be `active`, `removed`, `failed` or `complete` | - |

#### job interval status
| Field | Description | Example |
| ------ | ----------- | ------- |
| ID | Unique ID of the job status | `deadbeef-dead-beef-dead-beef13371337` |
| JobID | The job ID being referenced | `deadbeef-dead-beef-dead-beef13371337` |
| Interval Start date | The starting period of the job fetch attempt | |
| Interval End date | The ending period o fthe job fetch attempt | |
| Status | Can be `failed` or `complete` | `complete` |
| Date | The date the fetch was attempted | `1-3-3337` |

### RPC commands


### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
