{{define "engine depositaddress" -}}
{{template "header" .}}
## Current Features for {{.CapitalName}}
+ The deposit address manager subsystem stores Exchange deposit addresses.
+ On start of the application the engine Bot will retrieve deposit addresses from exchanges if you have API keys set

{{template "donations" .}}
{{end}}
