{{define "engine fee_manager" -}}
{{template "header" .}}
## Current Features for {{.CapitalName}}
The purpose of this component is to sychronize the account fees for the supplied credentials stored in config including:
+ Update and store maker and taker trading fees
+ Update and store exchange withdrawal and deposit transfer fees
+ Update and store bank withdrawal and deposit transfer fees

### usage 

+ To disable via command line flag: 
```bash
./gocryptotrader --feemanager="false"
```

+ To enable by command line - enabled by default:
```bash
./gocryptotrader 
```

+ Configuration parameters 

| Config | Description | Example |
| ------ | ----------- | ------- |
| enabled | Allows the setting if manager is enabled or disabled |  `true` |
| delay | Allows the custom delay between full exchange fee synchronization |  `600000000000` |

### gRPC integration

+ Link to [gctcli](../cmd/gctcli)
+ Provides retrieval of all fees by exchange name
+ Provides ability to set custom fees for global maker and taker commission fees

### package integregration

+ Package link to [README.md](../exchanges/fee/README.md)

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
