<h2>Exchange List</h2>
<h3>Select and monitor currencies from the same exchange</h3>
<mat-accordion>
    <mat-expansion-panel  *ngFor="let exchange of exchangeCurrencies | iterateMap">
        <mat-expansion-panel-header [ngClass]="{'selected' : selectedExchange == exchange.key}">
            <mat-panel-title>
                 {{exchange.value}}
            </mat-panel-title>
        </mat-expansion-panel-header>
        image and blurb
        <div>
        <i>Only displaying enabled currencies</i>
    </div>
        <form class="form-content">
            <mat-list>
                <mat-list-item [ngClass]="{'selected' : selectedCurrency == currency.parsedName && selectedExchange == exchange.value }" *ngFor="let currency of exchange.key | enabledCurrencies" >
                   <h4 matLine>{{currency.parsedName}}</h4>
                   <button mat-button (click)="selectCurrency(exchange.value,currency.parsedName)">SELECT</button>
                </mat-list-item>
                </mat-list>
        </form>
    </mat-expansion-panel>
</mat-accordion>