<mat-accordion>
    <mat-expansion-panel  *ngFor="let exchange of exchangeCurrencies | iterateMap">
        <mat-expansion-panel-header [ngClass]="{'selected' : selectedExchange == exchange.value}">
            <mat-panel-title>
                    {{exchange.value}}
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        image and blurb
        <div>
        <i>Only displaying enabled currencies</i>
    </div>
        <form class="form-content">
            <mat-list>
                <mat-list-item [ngClass]="{'selected' : selectedCurrency == currency.ParsedName}" *ngFor="let currency of exchange.key | enabledCurrencies" >
                   <h4 matLine>{{currency.ParsedName}}</h4>
                   <button mat-button (click)="selectCurrency(exchange.value,currency.ParsedName)">SELECT</button>
                </mat-list-item>
                </mat-list>
        </form>
    </mat-expansion-panel>
</mat-accordion>