<mat-accordion>
    <mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Poloniex
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        image and blurb
        <form class="form-content">
            <mat-list>
                <mat-list-item >
                   <mat-icon matListIcon>attach_money</mat-icon>
                   <h4 matLine>BTC_USD</h4>
                   <button mat-button>SELECT</button>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListIcon>attach_money</mat-icon>
                    <h4 matLine>LTC_USD</h4>
                    <button mat-button>SELECT</button>
                 </mat-list-item>
                 <mat-list-item >
                    <mat-icon matListIcon>attach_money</mat-icon>
                    <h4 matLine>ETH_USD</h4>
                    <button mat-button>SELECT</button>
                 </mat-list-item>
                </mat-list>
        </form>
    </mat-expansion-panel><mat-expansion-panel >
        <mat-expansion-panel-header>
            <mat-panel-title>
                Kraken
            </mat-panel-title>
            <mat-panel-description>
            </mat-panel-description>
        </mat-expansion-panel-header>
        image and blurb
        <form class="form-content">
          
            <mat-list>
                <mat-list-item >
                   <mat-icon matListIcon>attach_money</mat-icon>
                   <h4 matLine>BTC_USD</h4>
                   <button mat-button>SELECT</button>
                </mat-list-item>
                <mat-list-item >
                    <mat-icon matListIcon>attach_money</mat-icon>
                    <h4 matLine>LTC_USD</h4>
                    <button mat-button>SELECT</button>
                 </mat-list-item>
                 <mat-list-item >
                    <mat-icon matListIcon>attach_money</mat-icon>
                    <h4 matLine>ETH_USD</h4>
                    <button mat-button>SELECT</button>
                 </mat-list-item>
                </mat-list>
        </form>
    </mat-expansion-panel>
</mat-accordion>