{{define "tools" -}}
{{template "header" .Name}}
## Current Features

This folder contains an assortment of tools

+ Configuration
+ Documentation creation
+ Portfolio monitoring
+ Exchange deployment
+ Websocket client

{{template "contributions"}}
{{template "donations"}}
{{end}}
