<link rel="stylesheet" href="/components/buy-orders/buy-orders.css" />
<div class="col-md-12 buy-order-table">
      <table class="table table-striped table-fixed-heading">
    <thead>
        <tr>
            <th >Price</th>
            <th >{{currencyOne}}</th>
            <th >{{currencyTwo}}</th>
            <th >Sum({{currencyTwo}})</th>
        </tr>
    </thead>
</table>
<div class="buy-order-data">
  <table class="table table-striped">
    <tbody>
        <tr ng-repeat="buyOrder in buyOrders">
            <td >{{buyOrder.price}}</td>
            <td >{{buyOrder.currencyOneAmount}}</td>
            <td >{{buyOrder.currencyTwoAmount}}</td>
            <td >{{buyOrder.sum}}</td>
        </tr>
    </tbody>
  </table>
<div>
</div>