{{- define "readme"}}
# GoCryptoTrader {{.CapitalName}} Exchange Wrapper

<img src="https://github.com/thrasher-/gocryptotrader/blob/master/web/src/assets/page-logo.png?raw=true" width="350px" height="350px" hspace="70">

An exchange interface wrapper for the GoCryptoTrader application.

## This is still in active development

 You can track ideas, planned features and what's in progresss on this Trello board: [https://trello.com/b/ZAhMhpOy/gocryptotrader](https://trello.com/b/ZAhMhpOy/gocryptotrader).

## Current {{.CapitalName}} Exchange Features

{{if .REST}}+ REST Support {{end}}
{{if .WS}}+ Websocket Support {{end}}
{{if .FIX}}+ FIX Support {{end}}
+ Can be used as a package

## Notes

+ Please add notes here with any production issues
+ Please provide link to exchange website and API documentation

## Contributors

+ Please add your information

|User|Github|Contribution|
|--|--|--|
|AliasGoesHere|https://github.com/AliasGoesHere |WHAT-YOU-DID|
{{end}}
