<div class="col-md-12">
   <div class="form col-md-12">
        <div class="row">
          <label>Exchange: {{exchange.exchangeName}}
        </div>
        <div class="row">
            <label>Currency: </label>{{currency.CurrencyPair}}
        </div>
        <div class="row">
            <label>Lowest Ask: </label><label>{{currency.Ask}}</label>
        </div>
        <div class="row">
            <label>Price: </label><input pattern="\d*" class="form-control" ng-model="price" type="text" placeholder="How much?" />
        </div>
        <div class="row">
            <label>Amount: </label><input  pattern="\d*" ng-model="amount" class="form-control" type="text" placeholder="How much?" />
        </div>
        <div class="row">
            <label>Total: </label><label ng-show="price > 0 && amount > 0">{{price * amount}}</label>
        </div>
        <div class="row">
            <button ng-click="placeOrder()" class="form-control btn btn-success">Place Order</button>
        </div>
    </div>
<div>