<div class="docs-homepage-promo">
    <h2 class="mat-h1">Welcome to GoCryptoTrader</h2>

    <div class="docs-homepage-row">
        <div class="docs-homepage-promo-img">
            <img src="./assets/exchanges.jpg" />
        </div>
        <div class="docs-homepage-promo-desc">
            <h2>Multi-currency, multi-exchange</h2>
            <p>With support for over 25 of the top cryptocurrency exchanges</p>
            <div class="docs-homepage-bottom-start">
                <a mat-raised-button class="docs-button" routerLink="dashboard">Get started</a>
            </div>
        </div>
    </div>
    <div class="docs-homepage-row docs-homepage-reverse-row">
        <div class="docs-homepage-promo-img">
            <img src="./assets/loop.png" />
        </div>

        <div class="docs-homepage-promo-desc">
            <h2>High speed, low drag</h2>
            <p>Constant checking of all enabled exchanges* to get you the most up to date information</p>
            <div class="docs-homepage-bottom-start">
                <a mat-raised-button class="docs-button" routerLink="dashboard">Get started</a>
            </div>
        </div>
    </div>
    <div class="docs-homepage-row">
        <div class="docs-homepage-promo-img">
            <img src="./assets/centralised.png" />
        </div>
        <div class="docs-homepage-promo-desc">
            <h2>Centralised management</h2>
            <p>Add and manage all your wallets from one application</p>
            <div class="docs-homepage-bottom-start">
                <a mat-raised-button class="docs-button" routerLink="dashboard">Get started</a>
            </div>
        </div>
    </div>
    <div class="docs-homepage-row docs-homepage-reverse-row">
        <div class="docs-homepage-promo-img">
            <img src="./assets/material.png" />
        </div>
        <div class="docs-homepage-promo-desc">
            <h2>Optimized for Angular</h2>
            <p>The latest tech with Material design lets you focus on what's important</p>
            <div class="docs-homepage-bottom-start">
                <a mat-raised-button class="docs-button" routerLink="dashboard">Get started</a>
            </div>
        </div>
    </div>
    <div class="docs-homepage-bottom-start">
        <a mat-raised-button class="docs-button" routerLink="dashboard">Get started</a>
    </div>
</div>