    .docs-homepage-promo {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        padding: 16px;
    }
    
    .docs-homepage-promo h2 {
        font-size: 25px;
        font-weight: 400;
        margin: 0 0 16px 0;
        padding: 0;
    }
    
    .docs-homepage-promo p {
        font-size: 16px;
        font-weight: 400;
        line-height: 28px;
        margin: 0 0 24px 0;
        padding: 0;
    }
    
    .docs-homepage-promo-img img {
        max-width: 90%;
        max-height: 300px;
    }
    
    .docs-homepage-promo-desc {
        line-height: 2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    
    .docs-homepage-promo-desc,
    .docs-homepage-promo-img {
        width: 50%;
    }
    
    .docs-homepage-promo-img {
        text-align: center;
    }
    
    .docs-homepage-row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        margin: 60px 0;
    }
    
    .docs-homepage-reverse-row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }