.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.exchange-card {
    margin-bottom: 20px;
    width: 500px;
}

.md-fab {
    margin: 0;
    position: fixed;
    bottom: 5%;
    right: 2%;
}