{{define "cmd apichecker" -}}
{{template "header" .}}
## Current Features for {{.Name}}
Checks for API updates
Can automatically update trello checklist for the updates required

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}