{{define "cmd documentation" -}}
{{template "header" .}}

## Current Features for {{.Name}}
Quickspy is an applet to quickly fetch data from an exchange without needing to fuss about with configs or setting currency pairs or calling functions like `SetDefaults()`.

## Usage
```go
go run . --exchange="Binance" --asset="Spot" --pair="BTCUSDT" -datatype=Ticker
```

Supported Data Types:
- Orderbook
- Ticker
- Trades
- Funding Rates
- Klines
- Account Info
- Open Interest
- Active Orders
- Order Execution Limits
- Contract Info
- URL


{{template "donations" .}}
{{end}}
