{{define "cmd quickdata" -}}
{{template "header" .}}

## Current Features for {{.Name}}
quickdata fetches targeted data from an exchange with minimal setup. It supports both public and authenticated data retrieval methods.

## Usage
```go
go run . --exchange="Binance" --asset="Spot" --pair="BTCUSDT" -data=Ticker
```

```go
go run . --exchange="binance" --asset="spot" --pair="btc-usdt" --data="orders" --apiKey="abc" --apiSecret="123"
```

### Supported Flags:
```go
go run . --help
```

### Data support

| Data Type | Accepted --data flags |
| --------- | -------------- |
| Ticker | "ticker", "tick" |
| Orderbook | "orderbook", "order_book", "ob", "book" |
| Kline | "kline", "candles", "candle", "ohlc" |
| Trades | "trades", "trade" |
| Open Interest | "openinterest", "oi" |
| Funding Rate | "fundingrate", "funding" |
| Account Info | "accountholdings", "account", "holdings", "balances" |
| Active Orders | "activeorders", "orders" |
| Order Execution Limits | "orderexecution", "executionlimits", "limits" |
| URL | "url", "tradeurl", "trade_url" |
| Contract Info | "contract" |


## Further Reading
For more  details about QuickData, see the [quickData package documentation](/exchange/quickData/README.md).

{{template "donations" .}}
{{end}}
