{{define "cmd quickspy" -}}
{{template "header" .}}

## Current Features for {{.Name}}
Quickspy is an applet to quickly fetch data from an exchange without needing to fuss about with configs or setting currency pairs or calling functions like `SetDefaults()`.

## Usage
```go
go run . --exchange="Binance" --asset="Spot" --pair="BTCUSDT" -datatype=Ticker
```

```go
go run . --exchange="binance" --asset="spot" --currencyPair="btc-usdt" --focusType="orders" --apiKey="abc" --apiSecret="123"
```

### Supported Flags:
```go
go run . --help
```

### Supported Data Types:
	- "ticker", "tick":
	- "orderbook", "order_book", "ob", "book":
	- "kline", "candles", "candle", "ohlc":
	- "trades", "trade":
	- "openinterest", "oi":
	- "fundingrate", "funding":
	- "accountholdings", "account", "holdings", "balances":
	- "activeorders", "orders":
	- "orderexecution", "executionlimits", "limits":
	- "url", "tradeurl", "trade_url":
	- "contract":

## Further Reading
For more  details about QuickSpy, see the [quickspy package documentation](/exchange/quickspy/README.md).

{{template "donations" .}}
{{end}}
