<div class="col-md-12">
    <h4>All enabled currencies</h4>
    <div class="panel-group" id="accordion">
        <div class="panel panel-default" ng-repeat="exchange in exchanges">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#{{exchange.exchangeName | removeSpaces}}">
                      {{exchange.exchangeName}}
                    </a>
                </h4>
            </div>
            <div id="{{exchange.exchangeName | removeSpaces}}" class="panel-collapse collapse" ng-class='{in:$first}'>
                <div class="panel-body">
                    <table class="table table-striped">
                        <tr>
                            <th>Currency</th>
                            <th>Last</th>
                            <th>Volume</th>
                        </tr>
                        <tr ng-repeat="value in exchange.exchangeValues">
                            <td><a href="" ng-click="reloadDashboardWithExchangeCurrency(exchange,value)">{{value.CurrencyPair}}</a></td>
                            <td>{{value.Last | number: 2}}</td>
                            <td>{{value.Volume | number: 2}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>