{{define "database" -}}
{{template "header" .}}
## Database

GoCryptoTrader is using an interim database SQLite3 and using SQLBoiler for its model generation

Big thank you to the team at volatiletech for providing this tool https://github.com/volatiletech/sqlboiler

### Current Features

+ User account creation
+ Insert, Ammend configuration data
+ Encryption of configuration data 
+ Insert, Ammend exchange trade history data

### Features not yet included

+ Order insertion and tracking

### How to enable

+ Using gocryptotrader binary will create db automatically no setup required.
+ To enable loading of exchange history data use the `-history` flag, this will seed historic trade action that has been matched by exchange.
+ To override a saved configuration please use the `-o-config` flag, this will load a supplied config.json into memory.
+ To save a new configuration you can use the `-save-config` flag, please be aware that if you do not change the configuration name it will overwrite your initial configuration loaded in database.
+ To use a saved configuration in database use the `-use-config` flag then appened the name e.g. `-use-config arb_euro`.
+ You can specify a unique path to a database by using the `-db-path` flag e.g. `-db-path ./newdatabase.db`.

+ If enabled via individually importing package, rudimentary example below:

```go
    var verbose bool // Set to true if verbose is required
    err := Setup("Pass in desired test directory", verbose)
	if err != nil {
		// Handle error
	}

    cfg := config.GetConfig() // Get your configuration
	err = cfg.LoadConfig("Path to your congiguration.json file")
	if err != nil {
		// Handle error
	}

	db, err = Connect("Path to your database file", verbose)
	if err != nil {
		// Handle error
	}

    err = db.InsertExchangeTradeHistoryData(...)
    if err != nil {
        // Handle error
    }

    err = db.GetExchangeTradeHistory(...)
    if err != nil {
        // Handle error
    }
```

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}