<button matTooltip="Trade" mat-fab color="accent" [disabled]="trades.length > 2" class="mat-fab mat-fab-bottom-right" (click)="addTrade()">
  <mat-icon>swap_horiz</mat-icon>
</button>
<ng-template app-buy-sell></ng-template>
<div style="width:97%;">
  <mat-grid-list cols="3" rowHeight="22rem">
    <mat-grid-tile [colspan]="tile.columns" [rowspan]="tile.rows" *ngFor="let tile of dashboard.tiles">
      <mat-card class="full-card">
        <mat-card-header>
          <mat-card-title>{{tile.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content style=" max-height:12rem">
          <div [ngSwitch]="tile.id">
            <app-trade-history *ngSwitchCase="1"></app-trade-history>
          </div>
        </mat-card-content>
        <mat-card-footer>
          <button *ngIf="!expanded" (click)="expandTile(tile)" mat-button>EXPAND</button>
          <button *ngIf="expanded" (click)="resetTiles()" mat-button>RESTORE</button>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="someshit">
  <mat-card class="somecard mat-elevation-z12" *ngFor="let trade of trades">
    <mat-card-content>
      <app-buy-sell></app-buy-sell>
    </mat-card-content>
    <mat-card-footer style="display:flex; margin:0;">
      <button mat-raised-button color="primary">TRADE</button>
      <div class="flex-spacer"></div>
      <button mat-button (click)="removeTrade(trade)">CLOSE</button>
    </mat-card-footer>
  </mat-card>
</div>
