.full-card {
    width: 100%;
}

 ::ng-deep mat-grid-tile.mat-grid-tile .mat-figure {
    align-items: initial;
    /*vertical alignment*/
}


mat-card-content {
overflow-y:auto;
overflow-x:hidden;
height:92%;
}

mat-card-header {
    height:10%;
}

mat-card-footer {
    height: 10%;
}

mat-card-footer button {
    position: absolute;
    bottom: 0;
}

.mat-fab {
    top: auto;
    right: 30px;
    bottom: 20px;
    left: auto;
    position: fixed;
    z-index: 3;
}

.buy-sell-tab {
    position: fixed;
    top: auto;
    right: 5rem;
    bottom: 5rem;
    left: auto;
    z-index: 2;
    display: flex;
    height: 22rem;
}

.buy-sell-card {
    width: 20rem;
    height: 24rem;
    margin-left: auto;
    margin-right: 1rem;
    z-index: 3;
}

.flex-spacer {
    flex-grow: 1;
}

.the-container {
    max-height: 100%;
    overflow-y: auto;
    display: block;
}



mat-grid-list {
    height: 90vmin;
}

.full-height {
    height:100% !important;
}
