app-trade-history, app-orders, app-price-history, app-my-orders {
    height:100%;
    width:100%;
    margin: 15px;
}

.my-orders-card, .orders-card,.trade-history-card,.price-history-card {
    height: 90%;
    width:90%;
}