.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.exchange-card {
    margin-bottom: 20px;
    width: 1000px;
}

.md-fab {
    margin: 0;
    position: fixed;
    right: 20px;
    bottom: 10px;
}