.example-form {
    min-width: 150px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

// FAB
.md-fab {
    top: auto;
    right: 20px;
    bottom: 20px;
    left: auto;
    position: fixed;
}