// FAB
.mat-fab {
    top: auto;
    right: 30px;
    bottom: 20px;
    left: auto;
    position: fixed;
}

.form-content {
    margin: 20px;
}

.main {
    margin-top: 20px;
}

.mat-card {
    height: 100%;
    width: 100%;
}

.long {
    width:450px;
}