<mat-grid-list cols="2" rowHeight="1:0.5" gutterSize="4rem">
<mat-grid-tile routerLink="/settings/credentials">
    <mat-card>
        <mat-card-header>
            Credentials
        </mat-card-header>
        <mat-card-content>
                image
            </mat-card-content>
    </mat-card>
</mat-grid-tile>

<mat-grid-tile routerLink="/settings/exchanges">
        <mat-card>
            <mat-card-header>
                Exchanges
            </mat-card-header>
            <mat-card-content>
                    image
                </mat-card-content>
        </mat-card>
    </mat-grid-tile>

    <mat-grid-tile routerLink="/settings/wallets">
            <mat-card>
                <mat-card-header>
                    Wallets
                </mat-card-header>
                <mat-card-content>
                        image
                    </mat-card-content>
            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile routerLink="/settings/sms">
                <mat-card>
                    <mat-card-header>
                        SMS
                    </mat-card-header>
                    <mat-card-content>
                        image
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>

</mat-grid-list>