.sidebar {
    padding: 20px;
    width:20%;
}



.dashboard-highlight {
    color: green !important;
}

.trading-highlight {
    color: red !important;
}

.wallet-highlight {
    color: blueviolet !important;
}

.settings-highlight {
    color: magenta !important;
}