.sidebar {
    width:18%;
    background: none;
}

.dashboard-highlight {
    color: green !important;
}

.trading-highlight {
    color: red !important;
}

.wallet-highlight {
    color: blueviolet !important;
}

.settings-highlight {
    color: magenta !important;
}