{{define "exchanges ticker" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This services the exchanges package by ticker functions.

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
