{{define "exchanges nonce" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package services the exchanges package with nonce creation.

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
