{{define "tools" -}}
{{template "header" .}}
## Current Features

This folder contains an assortment of tools.

+ Configuration
+ Documentation creation
+ Portfolio monitoring
+ Exchange deployment
+ Websocket client


Example Run for documentation generation - flags -v Verbose & -r Replace files
```sh
cd documentation/
go run documentation.go -v
```
OR for full replacement.

```sh
cd documentation/
go run documentation.go -v -r
```
{{template "contributions"}}
{{template "donations"}}
{{end}}
