<div class="loading-spinner" *ngIf="settings === null">
    <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
</div>
<div *ngIf="settings !== null">
<h2>User Settings</h2>
    <button matTooltip="Save" (click)="saveSettings()" mat-fab color="accent" class="mat-fab mat-fab-bottom-right"><mat-icon >save</mat-icon></button>

    <mat-card class="full-card"  *ngIf="settings.SMSGlobal != null">
        <mat-card-content>
            <form class="form-content">
                <mat-form-field>
                    <input matInput name="username" [(ngModel)]="settings.SMSGlobal.Username" placeholder="Username">
                </mat-form-field>
                <mat-form-field>
                    <input matInput name="password" [(ngModel)]="settings.SMSGlobal.Password"  placeholder="Password">
                </mat-form-field>
            </form>
        </mat-card-content>
    </mat-card>
</div>