<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en" ng-app="gocryptoweb">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron"  ng-controller="HomeController">
  
           {{working}}
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>