.container {
    min-height: 100%;
}

.main {
    margin-top: 5rem;
    height: 100%;
    width: 100%;
}

.main-block {
    margin: auto 20px;
}

.sidebar {
    width: 12rem;
    position: fixed;
    margin-top: 4rem;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.dashboard-highlight {
    color: green !important;
}

.trading-highlight {
    color: orangered !important;
}

.history-highlight {
    color: cornflowerblue !important;
}

.wallet-highlight {
    color: blueviolet !important;
}

.help-highlight {
    color: red !important;
}

.settings-highlight {
    color: magenta !important;
}

.donate-highlight {
    color: goldenrod!important;
}