.container {
    border: 1px solid rgba(0, 0, 0, 0.5);
    height:100vh;
}


.main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 70px 0;
    min-width:94%;
    margin: 10px auto;
}

.sidebar{
    width:16%;
}

.dashboard-highlight {
    color: green !important;
}

.trading-highlight {
    color: red !important;
}

.wallet-highlight {
    color: blueviolet !important;
}

.settings-highlight {
    color: magenta !important;
}