 {{define "charts" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ Generate Timeseries Chart from OHLCV Data
+ Generate Standard chart from time/value Data
+ Output to HTML
+ Serve over HTTP
+ GCTScript links

+ Coding example

##### Go
```go
import "github.com/thrasher-corp/gocryptotrader/charts"

func genIntervalData(totalCandles int) []IntervalData {
	start := time.Date(2019, 1, 1, 0, 0, 0, 0, time.UTC)
	out := make([]IntervalData, totalCandles)
	out[0] = IntervalData{Timestamp: start.Format("2006-01-02"), Value: 0}
	for x := 1; x < totalCandles; x++ {
		out[x] = IntervalData{
			Timestamp: start.Add(time.Hour * 24 * time.Duration(x)).Format("2006-01-02"),
			Value:     out[x-1].Value + rand.Float64(),
		}
	}

	return out
}


func TestCharts(t *testing.T) {
	c := &Chart{
		template:     "timeseries.tmpl",
	}

	c.Data.Data = genIntervalData(365)
	_,err := c.ToFile().Generate()

	if err != nil {
	    t.Fatal(err)
	}
}
```

##### GCTScript
```go
exch := import("exchange")
t := import("times")
charts := import("charts")

load := func() {
    // define your start and end within reason.
    start := t.date(2017, 8 , 17, 0 , 0 , 0, 0)
    end := t.add_date(start, 0, 6 , 0)

    // This fetches the ohlcv
    ohlcvData := exch.ohlcv("binance", "BTC-USDT", "-", "spot", start, end, "1d")
    charts.gen("chart", true, ohlcvData.candles)
}

load()
```

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
