 {{define "charts" -}}
{{template "header" .}}
## Current Features for {{.Name}}

#### <add stuff here>

+ Coding example

```go
import "github.com/thrasher-corp/gocryptotrader/charts"
```


### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
