.one-time-animation {
    animation :  one-time-animation 2s forwards 1;
  }
  @keyframes one-time-animation {
    from {
      background: green;
    }
    to {
      background: transparent;
    }
  }
  
  /* do the following changes */
  
  .selected {
    box-shadow: 0 0 10px green inset;
    transition: box-shadow 2s ease;
  }
  p {
    font-size:14px;
  }