{{define "smsglobal" -}}
{{template "header" .}}
## Current Features for {{.Name}}

+ This package allows for the messaging of events to a personal phone number or a group of phone numbers.

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations"}}
{{end}}
