/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

.loading-spinner {
    margin-left: 50%;
    margin-right: 50%;
}

////////////////////////////////////////////////////////////////
// Default settings for cards
////////////////////////////////////////////////////////////////
.card {
    width: 80%;
    margin: 10px auto;
}

////////////////////////////////////////////////////////////////
// Default settings for expandable tile menus
////////////////////////////////////////////////////////////////
.mat-expansion-panel {
    width: 80%;
    margin: 0px auto !important;
}

 .mat-expansion-panel-header-title, 
 .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-expansion-panel-spacing {
    margin: 16px auto !important;
    width: 85%;
    
}


.mat-drawer {
    background: none !important;
}

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/