/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    
}

.loading-spinner {
    margin-left:50%;
    margin-right:50%;
}
////////////////////////////////////////////////////////////////
// Default settings for cards
////////////////////////////////////////////////////////////////
.card {
    width: 80%;
    margin: 10px auto;
}



@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/*
deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css
*/