{{define "contributors"}}
## Contributor List

### A very special thank you to all who have contributed to this program:

|User|Contribution Amount|
|--|--|
{{range $contributor := .Contributors -}}
| [{{$contributor.Login}}]({{$contributor.URL}}) | {{$contributor.Contributions}} |
{{end}}
{{- end}}
