{{define "donations" -}}
## Donations

<img src="/docs/assets/donate.png" hspace="70">

If this framework helped you in any way, or you would like to support the developers working on it, please donate Bitcoin to:

***{{.DonationAddress}}***
{{- end}}
