{{define "header" -}}
# GoCryptoTrader package {{.CapitalName}}

<img src="/common/gctlogo.png?raw=true" width="350px" height="350px" hspace="70">

{{template "status" .NameURL}}

This {{.Name}} package is part of the GoCryptoTrader codebase.

## This is still in active development

You can track ideas, planned features and what's in progress on our [GoCryptoTrader Kanban board](https://github.com/orgs/thrasher-corp/projects/3).

Join our slack to discuss all things related to GoCryptoTrader! [GoCryptoTrader Slack](https://join.slack.com/t/gocryptotrader/shared_invite/zt-38z8abs3l-gH8AAOk8XND6DP5NfCiG_g)
{{end}}
