{{define "backtester data" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The data package defines and implements a base version of the `Streamer` interface which is part of the `Handler` interface. These interfaces allow for the translation of data into individual intervals to be accessed and assessed as part of the `backtest` package.
This is a base implementation, the more proper implementation that is used throughout the backtester is under `./kline`

This can also be used to implement other means to load data for the backtester to process, however kline is currently the only supported method.

{{template "donations" .}}
{{end}}