{{define "backtester eventhandlers exchange" -}}
{{template "backtester-header" .}}
## {{.Name}} package overview

The exchange eventhandler


### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}