{{define "backtester eventhandlers portfolio" -}}
{{template "backtester-header" .}}
## {{.Name}} package overview




### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}