{{define "backtester config strategyconfigbuilder" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

### What does the config builder do?
The config builder runs you through the process of creating a strategy config (`.strat`) file. Configs can also be generated via test code under `config_test.go`.
Once the config is created, when running the backtester, you can reference it via `go run . -configpath=(path-to-strat-file)`

### How do I run it?
`go run .`

### Anything else?
The config builder will ask you all the necessary questions required to create a config file. If there is anything confusing, feel free to ask a question in our Slack group or open an issue!

{{template "donations" .}}
{{end}}
