{{define "backtester report" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The report package helps generates the output under the `results` folder.

As the application is run, many statistics such as purchase events are tracked. These events are utilised and enhanced in the report package in order to render an HTML report for easy comparison and historical strategy effectiveness.

The report utilises the following sweet technologies:
- go templating ([tpl.gohtml](tpl.gohtml))
- [mdbootstrap](https://mdbootstrap.com/)
- [lightweightcharts](https://github.com/tradingview/lightweight-charts/) by [TradingView](https://www.tradingview.com/)

Output example:
![example](https://user-images.githubusercontent.com/9261323/105283038-c124be00-5c03-11eb-88af-d67e727a8c16.png)

{{template "donations" .}}
{{end}}