{{define "backtester common" -}}
{{template "header" .}}

Common contains some basic data types which are used throughout

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}