{{define "backtester" -}}
{{template "backtester-header" .}}

# GoCryptoTrader Backtester
An event-driven backtesting tool to test and iterate trading strategies using historical or custom data.


## Features
- Works with all GoCryptoTrader exchanges that support trade/candle retrieval
- API data retrieval
- CSV data import
- Database data import
- Proof of concept live data running
- Can run strategies against multiple cryptocurrencies
- Can run strategies that can assess multiple currencies to make complex decisions
- Dollar cost strategy implementation
- RSI strategy implementation
- Strategy customisation via config `.strat` files
- Report generation
- Portfolio manager to help size orders based on config rules, risk and candle volume
- Order manager to place orders with customisable slippage estimator
- Helpful statistics to help determine whether a strategy was effective
- Compliance manager to keep snapshots of every transaction and their changes at every interval

## How does it work?
- The application will load a `.strat` config file as specified at runtime
- The `.strat` config file will contain
  - Start & end dates
  - The strategy to run
  - The candle interval
  - Where the data is to be sourced (API, CSV, database, live)
  - What type of data to use (trade or candle)
  - A nickname for the strategy (to help differentiate between runs/configs using the same strategy)
  - The currency/currencies to use
  - The exchange(s) to run against

# Cool story, how do I use it?
To run the application using the provided dollar cost average strategy, simply run `go run .` from `gocryptotrader/backtester`. An output of the results will be put in the `results` folder

# How does it work technically?
- See [this readme]() for an overview of the backtester
- See [this readme]() for an overview of config settings
- See [this readme]() for an overview of the dollar cost average strategy
- See [this readme]() for an overview of the RSI strategy

# Things to consider
- There are many more things to add and tweak. Bring up issues on our Github or Slack.



### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}
