{{define "backtester eventhandlers portfolio holdings" -}}
{{template "header" .}}

hi

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}