{{define "backtester eventhandlers strategies rsi" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The RSI strategy utilises [the gct-ta RSI package](https://github.com/thrasher-corp/gct-ta) to analyse market signals and output buy or sell signals based on the RSI output.
This strategy does support `SimultaneousSignalProcessing` aka [use-simultaneous-signal-processing](/backtester/config/README.md).
This strategy does support strategy customisation in the following ways:

| Field | Description |  Example |
| --- | ------- | --- |
|rsi-high| The upper bounds of RSI that when met, will trigger a Sell signal | 70 |
|rsi-low| The lower bounds of RSI that when met, will trigger a Buy signal | 30 |
|rsi-period| The consecutive candle periods used in order to generate a value. All values less than this number cannot output a buy or sell signal | 14 |

{{template "donations" .}}
{{end}}