{{define "backtester eventhandlers portfolio compliance" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The compliance manager is used to store all events at each time interval. When debugging the backtester or wanting to audit backtesting results, you can inspect every single action that has occurred during the backtesting run

{{template "donations" .}}
{{end}}