{{define "backtester eventhandlers" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

Eventhandlers are a set of interfaces and their implementations for the purpose of analysing and performing actions against data events.


### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}