{{define "backtester eventtypes event" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview




### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}