{{define "backtester data kline" -}}
 {{template "backtester-header" .}}
## {{.CapitalName}} package overview

The 

## Data Types
### Candles
- Candles, or kline data, is

### Trades
The GoCryptoTrader
Trades are the raw data that is converted into candles. If you have your own trade data, you can convert trades into whatever candle size you wish.


### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}