{{define "backtester report" -}}
{{template "backtester-header" .}}
## {{.Name}} package overview

The report package helps generates the output under the `results` folder

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}