{{define "backtester eventtypes" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} overview

Event types are created after retrieving candle data. An individual candle is turned into a data event which is sent to the strategy for analysis. The event is then sent to the portfolio manager to determine whether there is appropriate funding, adequate risk and proper order sizing before raising an order event. The order event is taken to the exchange handler which will place the order and create a fill event. The fill event is used to update the portfolios individual holdings for analysis and decision making.
Below is an overview of how events are used
![workflow](https://i.imgur.com/Kup6IA9.png)

{{template "donations" .}}
{{end}}