{{define "backtester eventhandlers portfolio size" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The sizing package ensures that all potential orders raised are within both the CurrencySettings limits as well as the portfolio manager's limits.
- In the event that the order is to large, the sizing package will reduce the order until it fits that limit, inclusive of fees.
- When an order is sized under the limits, an order event cannot be raised an no order will be submitted by the exchange
- The portfolio manager's sizing rules override any CurrencySettings' rules if the sizing is outside the portfolio manager's

{{template "donations" .}}
{{end}}