{{define "backtester data kline live" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

This package will retrieve data for the backtester via continuous requests to live endpoints

## Important notice
Its incredibly risky to enable `real-orders`. *Past performance is no guarantee of future results*

{{template "donations" .}}
{{end}}