{{define "backtester backtest" -}}
{{template "backtester-header" .}}

## Backtest what
- Is used to setup the entire backtester
- Loads the config
- Gets candle data
- is what breaks down kline data into events
- cycles through events

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}