{{define "backtester eventhandlers statistics currencystatistics" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

Currency Statistics is an important package to verify the effectiveness of your strategies.
It can calculate the following:
- Calmar ratio
- Information ratio
- Sharpe ratio
- Sortino ratio
- CAGR
- Drawdowns, both the biggest and longest
- Whether the strategy outperformed the market
- If the strategy made a profit



### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}