{{define "backtester data kline api" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

This package is responsible for the loading of kline data via the API. It can retrieve candle data or trade data which is converted into candle data.
This package uses existing GoCryptoTrader exchange implementations.

See individual exchange implementations [here](/exchanges) and the interface used [here](/exchanges/interfaces.go)

{{template "donations" .}}
{{end}}