{{define "backtester common" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

Common contains some basic data types which are used throughout.

{{template "donations" .}}
{{end}}