{{define "backtester eventhandlers strategies base" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The strategy base file has basic implementations of the `strategies.Handler` interface. Add any functions that can be used across all strategies here.

{{template "donations" .}}
{{end}}