{{define "backtester config examples" -}}
{{template "backtester-header" .}}

Breakdown the entire config json

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}