{{define "engine live" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

Live trading has specific requirements separate from backtesting. Handling the looping of candle data and managing real orders and orderbooks will be handled here

Live trading is only a proof of concept. Please do not risk your funds by using it with `realOrders` enabled


A flow of the application is as follows:
![workflow](https://i.imgur.com/Kup6IA9.png)

{{template "donations" .}}
{{end}}