{{define "backtester report" -}}
{{template "backtester-header" .}}

This

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}