{{define "backtester data kline" -}}
 {{template "backtester-header" .}}
## {{.Name}} package overview

This package contains the definitions and implementations of data interfaces. It allows for the specific loading and setting of candle data to be processed by the backtester.


### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}