{{define "backtester btcli" -}}
{{template "backtester-header" .}}

## {{.CapitalName}} overview

This folder contains the GoCryptoTrader Backtester CMD CLI application. It can be used to interact
with the GoCryptoTrader Backtester's GRPC server and send commands to be processed server-side.

For a list of commands, you can run the following

```console
go run .
```

Run `btcli <command> --help` to see its flags. Required flags are marked in
the help output. Set boolean flags with `=`, for example `--donotstore=false`.

Supply command parameters as named flags. Positional arguments are rejected.
For example:

```console
btcli starttask --id task-1
btcli executestrategyfromfile --path strategy.json
```

{{template "donations" .}}
{{end}}
