{{define "engine backtest" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The backtest package is responsible for handling all events. It is the engine which combines all elements.
Data is converted into candles which are then analysed via the strategyhandler. From there, events can be passed through to other handlers such as the portfolio handler to determine whether or not to place an order

A flow of the application is as follows:
![workflow](https://i.imgur.com/Kup6IA9.png)

{{template "donations" .}}
{{end}}