{{define "backtester data kline csv" -}}
{{template "backtester-header" .}}
## {{.Name}} package overview

This package will retreive data for the backtester via a CSV file

### Please click GoDocs chevron above to view current GoDoc information for this package
{{template "contributions"}}
{{template "donations" .}}
{{end}}