{{define "backtester data kline database" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

This package is responsible for the loading of kline data via a user's existing GoCryptoTrader database. It can load existing data from the `candles` and `trades` tables.
For more information on the GoCryptoTrader database, read [this readme](/database/README.md).
Ensure that your database has data and has been seeded with exchanges. For more information on this, please see [this readme](/cmd/dbseed/README.md).

### Database credentials
#### Defaults
The default database will be loaded from your GoCryptoTrader config. See [this](/database) for database configuration and implementation.

#### Overriding the GoCryptoTrader config
Database configuration details can be overridden in the `.strat` config file to allow other sources to be used and not rely on existing GoCryptoTrader configuration. See [this readme](/backtester/config/README.md) for details on config customisation

{{template "donations" .}}
{{end}}