{{define "engine grpcserver" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The GRPC server is responsible for handling requests from the client. All GRPC functionality as defined in the proto file is implemented [here](/backtester/btrpc)

{{template "donations" .}}
{{end}}