{{define "backtester config strategyexamples" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

### Current Config Examples

| Config | Description |
| --- | ------ |
| dca-api-candles.strat | A simple dollar cost average strategy which makes a purchase on every candle |
| dca-api-candles-multiple-currencies.strat| The same DCA strategy, but applied to multiple currencies |
| dca-api-candles-simultaneous-processing.strat | The same DCA strategy, but uses simultaneous signal processing |
| dca-api-candles-exchange-level-funding.strat| The same DCA strategy, but utilises simultaneous signal processing and a shared pool of funding against multiple currencies |
| dca-api-trades.strat| The same DCA strategy, but sources its candle data from trades |
| dca-candles-live.strat| The same DCA strategy, but utilises live data instead of old data |
| dca-csv-candles.strat | The same DCA strategy, but uses a CSV to source candle data |
| dca-database-candles.strat | The same DCA strategy, but uses a database to retrieve candle data |
| rsi-api-candles.strat | Runs a strategy using rsi figures to make buy or sell orders based on market figures |
| t2b2-api-candles-exchange-funding.strat | Runs a more complex strategy using simultaneous signal processing, exchange level funding and MFI values to make buy or sell signals based on the two strongest and weakest MFI values |
| binance-cash-and-carry.strat | Executes a cash and carry trade on Binance, buying BTC-USD while shorting the long dated futures contract. Is not currently implemented |
| binance-live-cash-and-carry.strat | Executes a cash and carry trade on Binance using realtime 15 second candles, buying BTC-USD while shorting the long dated futures contract. Is not currently implemented |

### Want to make your own configs?
Use the provided config builder under `/backtester/config/configbuilder` or modify tests under `/backtester/config/config_test.go` to generates strategy files quickly

{{template "donations" .}}
{{end}}