{{define "backtester eventtypes kline" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} package overview

The Kline event type is used to store the candle data of an individual data event. It can be utilised to understand market conditions at a point in time and make decisions from there

{{template "donations" .}}
{{end}}