{{define "backtester btcli" -}}
{{template "backtester-header" .}}
## {{.CapitalName}} overview

This folder contains the GoCryptoTrader Backtester CMD CLI application. It can be used to interact
with the GoCryptoTrader Backtester's GRPC server and send commands to be processed server-side.

For a list of commands, you can run the following

```
go run .
```

{{template "donations" .}}
{{end}}