{{template "header" .}}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard-marketdepth">Template Trading Platform v0.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/dashboard-marketdepth">Market Depth</a></li>
            <li><a href="/dashboard-ordermanagement">Order Management</a></li>
            <li><a href="/dashboard-reports">Reports</li>
            <li><a href="/dashboard-settings">Settings</a></li>
            <li class="active"><a href="/dashboard-contact">Contact<span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Contact Us</h1>

          <h2 class="sub-header">Contact us @ https://github.com/thrasher-/gocryptotrader</h2>
          <div>
              <p>

              </p>
          </div>
        </div>
      </div>
    </div>
{{template "footer" .}}
