{{template "header" .}}
<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/dashboard-marketdepth">Template Trading Platform v0.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout">Logout</a></li>
          </ul>

        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dashboard-marketdepth">Market Depth<span class="sr-only">(current)</span></a></li>
            <li><a href="/dashboard-ordermanagement">Order Management</a></li>
            <li><a href="/dashboard-reports">Reports</a></li>
            <li><a href="/dashboard-settings">Settings</a></li>
            <li><a href="/dashboard-contact">Contact</a></li>
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
          <ul class="nav nav-sidebar">
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Current Market Depth & Analysis</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Asset Allocation Pie Graph</h4>
              <span class="text-muted">Currencies owned and tracked.</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Profit/Loss/Initial Pie Graph</h4>
              <span class="text-muted">Current portfolio health.</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Exchanges Pie Graph</h4>
              <span class="text-muted">Based on current daily volume and analysis.</span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
              <h4>Market Capitalisation Pie Graph</h4>
              <span class="text-muted">In USD terms per deemed weighted currencies.</span>
            </div>
          </div>

          <h2 class="sub-header">Tickers table</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Exchange</th>
                  <th>LAST - BTC/USD</th>
                  <th>LAST - LTC/USD</th>
                  <th>LAST - BTC/LTC</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>SOMETHING HERE</td>
                  <td>SOMETHING HERE</td>
                  <td>SOMETHING HERE</td>
                  <td>SOMETHING HERE</td>
                  <td>SOMETHING HERE</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
{{template "footer" .}}
