{{template "header" .}}

<div class="site-wrapper">

   <div class="site-wrapper-inner">

     <div class="cover-container">

       <div class="masthead clearfix">
         <div class="inner">
           <nav>
             <ul class="nav masthead-nav">
             </ul>
           </nav>
         </div>
       </div>

       <div class="inner cover">
         <h1 class="cover-heading">Template Trading Platform v0.0</h1>
         <p class="lead">Login Test</p>
         <p class="lead">
           <a href="/login" class="btn btn-lg btn-default">Login Test Page</a>
         </p>
       </div>

       <div class="mastfoot">
         <div class="inner">
         </div>
       </div>

     </div>

   </div>

 </div>

{{template "footer" .}}
